<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>callback page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- <link rel="stylesheet" href="./style.css"> -->
  <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">

</head>
<body>
<div id="login-form-wrap">
  <h2>Callback</h2>

  <div class="container">
    You've been redirected!
    <br>
    {% if code is not none %}
        <p>Here's your authorization code: <b>{{ code }}</b> </p>
    {% else %}
        <p>There's been an error :/ <b>{{ error }}</b> </p>
    {% endif %}

  </div>

  <div id="create-account-wrap">
    <p>Copy your authorization code<p>
  </div>
</div>

</body>

<script>
    document.body.style.backgroundColor = "green";
</script>
</html>
