<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>password form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">

</head>
<body>
<div id="login-form-wrap">
  <h2>Password</h2>

  <div class="alert" style="display: none;" id="error_popup">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p id="error_popup_text"></p>
  </div>

  <form id="login-form" action="/authorize/{{ callback_id }}" method="post">
    <p>
    <input type="text" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="submit" value="Submit">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Don't you know the password? Type "password"<p>
  </div>
</div>

</body>

<script>
    var error = "{{error}}";
    var error_popup = document.getElementById("error_popup");
    var error_popup_text = document.getElementById("error_popup_text");

    if(error) {
        error_popup.style.display = "block";
        error_popup_text.innerHTML = error;
    }
</script>

</html>
